<!DOCTYPE html>
<html>
    <head>
        <title>interface</title>
        <script src="{{ asset('js/loader.js') }}"></script>
    </head>
    <body>
        loaded
        <div class="processes"></div>
        <div class="controls">
            <div class="play"></div>
            <div class="pause"></div>
        </div>
        <div class="log"></div>
    </body>
</html>